
h2 {
    font-family:"Helvetica Neue";
    font-size: 30px;
    padding: 1.5em;
    margin: 25px 50px 0px 100px;
    text-align: center;

}



img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

}

.box1 {
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;

}

.box1 .form{
    width: 100px;
    margin: 30px 500px 30px 100px;
    background-color: hsla(360, 100%, 100%,  0.65);
    font: bold 12px sans-serif;

}



.box1 .form .form-row > label {
    display: block;
    box-sizing: border-box;
    color: #5f5f5f;
    padding: 0 0 12px;

}

.box1 .form input{
    color:  #5f5f5f;
    box-sizing: border-box;
    width: 120px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 5px 10px;
    border: 1px solid #dbdbdb;
}

.box1 .form select{
    background-color: #ffffff;
    color:  #5f5f5f;
    box-sizing: border-box;
    width: 75px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px 18px;
    border: 1px solid #dbdbdb;
}


.box1 .form .radio-buttons input{

    width: auto;
    margin-bottom: 10px;

}